@import url(./reset.css);


body{
	background-color: #D4D8DA  ;
	background-image: url('/imagenes/logo.png');
    background-repeat: no-repeat;
}


h1{
	font-family: verdana;
	font-size: 32px;
	text-align: center;
	font-weight: bold;
	padding: 16px 32px;
	background-color: #1E99EE;
}
head{
	background-color: #1E99EE;
}

label{
	font-family: verdana;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 32px;
	margin: 4px 2px;
}

p{
	font-family: verdana;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 32px;
	margin: 4px 2px;
}

input[type=button], input[type=submit]{
  background-color: #E6ECF0;
  border: black;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #A1CDEC ;
}
input[type=button]:hover, input[type=submit]:hover{
	background-color: #1E99EE;
}

button{
	background-color: #E6ECF0;
  border: black;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #A1CDEC ;
}

button:hover{
	background-color: #1E99EE;
}
#id_propietario, #nombre, #matricula, #numeroTelefono, #calle, #numero, #colonia, #delegacion, #cp, #id
#matriculaAnterior, #id_propietario, #modelo, #marca, #color, #propietario{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=checkbox]{
	margin: 0 auto;
	width: 48px;
    height: 48px;
    appearance: none;
    border: 2px solid black;
}

input[type=checkbox]:checked{
    background-color: #1E99EE;
}
form{
  max-width: 400px; 
  margin: 0 auto;
  padding: 20px;
}
label, input, textarea {
  display: block; 
  margin-bottom: 10px;
}

div{
  display: flex;
  justify-content: center;
}

img{
  width: 70%;
  border-radius: 10px;
  opacity: 0.7;
}

select{
	font-family: verdana;
	font-size: 16px;
	font-weight: bold;
	background-color: #E6ECF0;
}
@media (min-width: 800px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: calc((100vw - 900px) / 2);
    padding-right: calc((100vw - 900px) / 2);
  }
}