@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0; /* Cambié el color de fondo a un gris claro */
}

.btn {
  display: inline-block;
  padding: 10px 20px; /* Aumenté el espaciado para hacerlo más atractivo */
  margin-bottom: 10px;
  font-size: 16px; /* Aumenté el tamaño de fuente */
  font-weight: 600; /* Aumenté el peso de la fuente */
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 2px solid #337ab7; /* Hice el borde más prominente */
  border-radius: 25px; /* Aumenté el radio del borde para que se vea más suave */
  color: #337ab7; /* Cambié el color del botón */
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #337ab7; /* Cambié el color de fondo al pasar el ratón */
  color: #fff; /* Cambié el color del texto al pasar el ratón */
}

.btn-block {
  display: block;
  width: 100%;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para el formulario */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #337ab7; /* Cambié el color del encabezado */
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px; /* Reduje el margen inferior */
}

input {
  width: 100%;
  max-width: 250px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para los campos de entrada */
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #333; /* Cambié el color del texto a un tono más oscuro */
  border: 1px solid #ccc; /* Cambié el borde a un tono más claro */
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

label {
  color: #333; /* Cambié el color de la etiqueta */
}

input:focus {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); /* Cambié la sombra cuando se enfoca */
}

.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container img {
  max-width: 40%;
  height: auto;
  margin-bottom: 20px; /* Aumenté el margen inferior */
}
